<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <title>Hello HTML</title>
</head>
<body>
    <h1>차트 보여주는곳</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-1">Sun</div>
            <div class="col-lg-1">Mon</div>
            <div class="col-lg-1">Tue</div>
            <div class="col-lg-1">Wed</div>
            <div class="col-lg-1">Thu</div>
            <div class="col-lg-1">Fri</div>
            <div class="col-lg-1">Sat</div>
        </div>
    </div>
    <script src="../static/bootstrap.js"></script>
</body>
</html>